    body{
        background-color:rgb(204, 231, 205);
        font-family: Verdana;
        font-weight: 200;
    }

    h1{
        text-align: center;
        color: rgb(46, 122, 42);
    }

    p{
        color:hsl(160, 66%, 25%);
        text-align: left;
        
    }

    a{
        color: #4a8d4d;
        font-family:sans-serif;
        font-weight: 600;
    }

    a:hover{
        color: rgb(216, 129, 23);
        
    }

    li{
        margin-bottom: 10px;
    }

    .fotoPao{
        width: 250px;
        border-radius: 10%;
    }

    .botaoEnviar{
        background-color: #75a777;
        border: none;
        border-radius: 20px;
    }

    .botaoEnviar:hover{
        background-color: rgb(216, 129, 23);
    }

    form{
        margin-top: 8px;
        padding: 10px;
    }

    label,input{
        margin-bottom: 8px;
    }